header {
    width: 100%;
    margin: 0;
    // height: 50%;

    .banner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      background: url("assets/banniere.png")
        no-repeat;
      background-size: cover;
      background-position: 25%;

      .menu {
        width: 100%;
        background-color: #cc3866;
        ul {
          display: flex;
          justify-content: right;
          padding-left: 10px;
          padding-right: 10px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-family: "Bebas Neue", cursive;
              color: white;
              font-size: 20px;
              padding: 2px;
            }
          }
        }
      }
      .banner_title {
        width: 95%;
        margin: 0;
        font-size: 4vw;
        opacity: 0.8;
        margin-top: 100px;
      }
      .title {
        border: 1px solid black;
        border-radius: 50px;
        font-family: "Bebas Neue", cursive;
        background-color: #ecdf85;
        text-align: center;
      }
    }
  }